<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="mybatis.FirstMybatisMapper">	 
    
    <!-- param using #{} -->
    <select id="queryMailSettings" parameterType="map" resultType="map">
		select *
		FROM user where id =#{id}
    </select>
    
    <!-- param using ${} -->
      <select id="executeSQL" parameterType="map" resultType="map">
		${sql}
    </select>
    
    <select id="queryByList" parameterType="map" resultType="map">
    	select * 
    	From user where id in
    	<foreach collection="idList" item="userID" open="(" separator="," close=")">
    	 #{userID}
    	</foreach>
    </select>
</mapper>    